version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      testing:
        patterns:
          - "@testing-library/*"
          - "jest*"
      react:
        patterns:
          - "react*"
      typescript:
        patterns:
          - "typescript"
          - "@types/*"
